<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic NodeJS Exercises</title>
  </head>
  <body>
    <h1>Links</h1>
    <a href="/exercise" target="_blank" rel="noopener noreferrer"
      >Exercise Tracker</a
    >
    <a href="/fileanalyse" target="_blank" rel="noopener noreferrer"
      >File Metadata Reader</a
    >
    <a href="/whoami" target="_blank" rel="noopener noreferrer"
      >Header Parser</a
    >
    <a href="/timestamp" target="_blank" rel="noopener noreferrer"
      >Timestamp API</a
    >
    <a href="/shorturl" target="_blank" rel="noopener noreferrer"
      >Url Shortener</a
    >
  </body>
</html>
