<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic NodeJS Exercises</title>
    <link rel="stylesheet" href="public/index.css" />
  </head>
  <body>
    <h1>Basic Node Microservices</h1>
    <p>
      Here are some Node(Express) REST APIs built for FreeCodeCamp's APIs and
      Microservices Certification
    </p>

    <ol>
      <li>
        <a href="/exercise" target="_blank" rel="noopener noreferrer"
          >Exercise Tracker</a
        >
      </li>
      <li>
        <a href="/fileanalyse" target="_blank" rel="noopener noreferrer"
          >File Metadata Reader</a
        >
      </li>
      <li>
        <a href="/whoami" target="_blank" rel="noopener noreferrer"
          >Header Parser</a
        >
      </li>
      <li>
        <a href="/timestamp" target="_blank" rel="noopener noreferrer"
          >Timestamp API</a
        >
      </li>
      <li>
        <a href="/shorturl" target="_blank" rel="noopener noreferrer"
          >Url Shortener</a
        >
      </li>
    </ol>
  </body>
</html>
